<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">

        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../../assets/hotelicon.jpg" alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top">
                EaseMyStay
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item ms-auto">
                    <nav>
                        <a class="nav-link" href="#" routerLink="/admin/home" routerLinkActive="active">Home</a>
                    </nav>
                </li>

                <li class="nav-item ms-auto" id="twoline">
                    <nav>
                        <a class="nav-link" href="#" routerLink="/admin/addhotel" routerLinkActive="active">Add Hotel</a>
                    </nav>
                </li>

                <li class="nav-item ms-auto">
                    <nav>
                        <button class="nav-link" href="#" (click)="logOut()" routerLinkActive="active">LogOut</button>
                    </nav>
                </li>
            </ul>
        </div>
    </div>
</nav>