#carouselExampleCaptions{
    height: 480px;
    padding: 0;
    margin-bottom: 0;
    position:relative;
  
}
footer{
    box-sizing:content-box;
    margin-top: 0;
   
}

/* welcome msg styles */
#welcome{
    /* color:peachpuff; */
    color: black;
    background-color:aquamarine;
    opacity: 0.6;
    position:fixed;
    top: 80px;
    z-index: 999;
}
#stay{
    color: red;
}
