<!-- <app-navbar-admin></app-navbar-admin> -->
<!-- <app-navbar-homepage></app-navbar-homepage> -->
<!-- <app-navbar-customer></app-navbar-customer> -->
<!-- <app-admin-homepage></app-admin-homepage> -->
<!-- <app-admin-addpage></app-admin-addpage> -->
<!-- <app-admin-updatepage></app-admin-updatepage> -->
<!-- <app-admin-detailpage></app-admin-detailpage> -->
<!-- <app-register-login></app-register-login> -->

<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<!-- <app-customer-bookingpage></app-customer-bookingpage> -->
<!-- <app-customer-profilepage></app-customer-profilepage> -->
<!-- <app-customer-homepage></app-customer-homepage> -->
<!-- <app-customer-paymentpage></app-customer-paymentpage> -->


<!-- <router-outlet></router-outlet> -->

