<app-navbar-admin></app-navbar-admin>

<div class="body">
<div class="heading" >
    <h2>Your Hotel Details</h2>
</div>

    <div id="main">
        <table class="table table-striped" id="center">
         
            <tr>
                <td id="left"> 
                    Hotel Name
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td id="left">
                    City
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td id="left">
                    State
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td id="left">
                    Country
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td id="left">
                    Email
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td id="left">
                    Contact Info
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td id="left">
                    Address
                </td>
                <td>

                </td>
            </tr>


        </table>
    </div>
</div>


<app-footer></app-footer>