.body{
    background: url("../../../../assets/room1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    color:black;
    /* made changes to above color */
}
table,td,th{
    border: 3px solid;
    text-align: center;
    font-weight:bolder;
   
}
table{
    width:60%;
    border-collapse:collapse;
    font-size: 20px;

}

tr:nth-child(even) {
    background-color: whitesmoke;
}


#left{
    width: 35%;
    padding: 8px;
    font-size: 20px;
    text-align: center;
}
.heading{
    padding: 18px 0;
    text-align: center;
    /* background: linear-gradient(to bottom right, blue ,pink); */
    font-size: large;
    color:brown;
    /* made changes to above color */
}
#center{
    margin-left: auto;
    margin-right: auto;
}