<app-navbar-customer></app-navbar-customer>


<!-- search icon -->
<div class="body">
    <div class="search-container">
        <input type="text" name="search" placeholder="Search for hotels by city" class="search-input">
        <a href="#" class="search-btn">
            <i class="fas fa-search"></i>
        </a>
    </div>
</div>

<!-- hotel results  -->
<div class="card mt-0 mb-0" style="width: 100%; height: fit-content;">
    <div class="row g-0">
        <div class="col-sm-4 text-bg-secondary d-inline-block" *ngFor="let h of hotel">
            <div class="card-body ">
                <h5 class="card-title">{{h.hotelName}}
                </h5>
                <p class="card-text">{{h.city + "," + h.email}}</p> 
                
                <a class="navbar-brand mx-1" href="#" routerLink="/customer/booking" routerLinkActive="active">
                    <img src="../../../../assets/bookhotel.jpg" alt="Logo" width="30" height="24"
                        class="d-inline-block align-text-top"> Book Hotel
                </a>
            </div>
        </div>
    </div>
</div>


<!-- bookings -->

<div class="card mt-0 mb-0" style="width: 100%; height: fit-content;">
    <h3 style="text-align: center;">Your Bookings</h3>
    <div class="row g-0">
        <div class="col-sm-4 text-bg-secondary d-inline-block" *ngFor="let b of bookings">
            <div class="card-body ">
                <h5 class="card-title">{{b.hotelName}}
                </h5>
                <p class="card-text">{{"Check In: " + b.checkInDate}}</p> 
                <p class="card-text">{{"Check Out: " + b.checkOutDate}}</p>
                <p class="card-text">{{"Status: " + b.bookingStatus}}</p>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>