<app-navbar-customer></app-navbar-customer>


<!-- previous search icon -->
<!-- <div class="body">
    <div class="search-container">
        <input type="text" name="search" placeholder="Search for hotels by city" class="search-input" [(ngModel)]="city">
        <button href="#" class="search-btn" (click)="search()">
            <i class="fas fa-search"></i>
        </button>
    </div>
</div> -->


<!-- another search icon added -->
<div class="body">
    <div class="container">

        <div class="row height d-flex justify-content-center align-items-center">

            <div class="col-md-6">

                <div class="search">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control" placeholder="Search Hotels by City" [(ngModel)]="city">
                    <button class="btn btn-primary" (click)="search()">Search</button>
                </div>

            </div>

        </div>
    </div>
</div>




<!-- hotel results  -->
<div *ngIf=!(hotelNumber) class="nohotels text-danger"> Oops!! No Hotels found</div>
<div class="card" style="width: 100%; height: fit-content;">
    <div class="row g-0 ">
        <div class="col-sm-4 text-bg-secondary d-inline-block border-right-4 mb-1 ms-1 me-1 " *ngFor="let h of hotel">
            <div class="card-body ">
                <h5 class="card-title">{{h.hotelName}}
                </h5>
                <p class="card-text">{{h.city + "," + h.email}}</p>

                <button id="bookhotel" class="navbar-brand mx-1" href="#" routerLinkActive="active" (click)="book(h.hotelId)">
                    <img  src="../../../../assets/bookhotel.jpg" alt="Logo" width="30" height="24"
                        class="d-inline-block align-text-top bg-primary" > Book Hotel
                </button>
            </div>
        </div>
    </div>
</div>


<!-- bookings -->

<div class="card mb-1 ms-1 me-1" style="width: 100%; height: fit-content;">
    <h3 style="text-align: center;">Your Bookings</h3>
    <div *ngIf=!(bookingsNumber) class="nobookings text-danger"> Oops!! No Bookings found</div>
    <div class="row g-0">
        <div class="col-sm-4 text-bg-secondary d-inline-block" *ngFor="let b of bookings">
            <div class="card-body ">
                <h5 class="card-title"> Total Sum : {{b.amount}}/- Rs
                </h5>
                <p class="card-text">{{"Check In: " + b.checkInDate}}</p>
                <p class="card-text">{{"Check Out: " + b.checkOutDate}}</p>
                <p class="card-text">{{"Status: " + " Confirmed"}}</p>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>