/* .body{
    margin: 0;
    padding: 0;
    background-color: #b2e0df;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .search-container{
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    text-align: right;
    align-items: center;
    cursor: pointer;
    width: 400px;
    font-weight: 500;
    font-size: 16px; 

    /* transition: 0.8s; */
/*box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   text-shadow:  0px 0px 6px rgba(255,255,255,.3),
              -4px -4px 6px rgba(116, 125, 136, .2);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);*/
/* box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
} */

/* .search-container:hover > .search-input{
    width: 400px;
} */
/* .search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
 


.search-container .search-btn .fas{
    color: #5cbdbb;
} */


/* .search-container:hover{
  animation: hoverShake 0.15s linear 3;
} */


/* to make footer at bottom */
app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* styles for another search icon */

@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


.body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.height {
    height: 70px;
}


.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);

}

.search input {

    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;


}


.search input:focus {

    box-shadow: none;
    border: 2px solid blue;


}

.search .fa-search {

    position: absolute;
    top: 20px;
    left: 16px;

}

.search button {

    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue;

}

/* no hotels found styles */
.nobookings {
    text-align: center;
    margin-top: 20px;
}

.nohotels {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 12px;
}

#bookhotel {
    color:white;
    background-color: black;
}
.card-body{
    padding: 10px;
}
.card{
    border-radius: 5px; /* 5px rounded corners */
}