<app-navbar-admin></app-navbar-admin>

<!-- <div class="card mt-3 mb-3" style="max-width: 540px;"> -->
<div class="card mt-3 mb-3" style="width: 100%; height: fit-content;">
    <div class="row g-0">
        <div class="col-md-2 text-bg-secondary">
            <img src="../../../../assets/hotel1.jpg" class="img-fluid rounded-start" alt="Image Not Available" width="200px" height="200px">
        </div>
        <div class="col-md-8 text-bg-secondary">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
            </div>
        </div>
        <div class="col-md-2 text-bg-secondary">
            <div class="card-body">
                <p class="card-text ">This is a wider card.</p>
                <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>