.heading{
    padding: 40px 0;
    text-align: center;
    background: linear-gradient(to bottom right, blue ,pink);
    font-size: large;
}

/* no hotels found styles */
.nohotels{
    text-align: center;
    margin-top: 20px;
}

/* to make footer at bottom */
app-footer{
    position:absolute;
    bottom: 0;
    width: 100%;
}
