<app-navbar-admin></app-navbar-admin>
<div class="heading">
    <h3>Here are your registered hotels</h3>
</div>
<!-- <div *ngIf= !hotelNumber class="card mt-3 mb-3" style="max-width: 540px;"> -->
<div class="card mt-0 mb-0" style="width: 100%; height: fit-content;" *ngFor="let h of hotels">
    <div class="row g-0">
        <div class="col-md-2 text-bg-secondary">
            <img src="../../../../assets/hotel1.jpg" class="img-fluid rounded-start" alt="Image Not Available"
                width="200px" height="200px">
        </div>
        <div class="col-md-8 text-bg-secondary">
            <div class="card-body">
                <h5 class="card-title">{{h.hotelName}}
                </h5>
                <p class="card-text">{{h.city + "," + h.email}}</p> <br>
            </div>
        </div>
        <div class="col-md-2 text-bg-secondary">
            <div class="card-body" style=" margin-top: 40px;">
                <!-- <button class="navbar-brand mx-1" href="#" routerLink="/admin/edithotel" routerLinkActive="active"> -->
                <button class="navbar-brand mx-1" (click)="updateHotelDetails(h.hotelId)" href="#">
                    <img src="../../../../assets/edit.jpg" alt="Logo" width="30" height="24"
                        class="d-inline-block align-text-top">
                </button>
                <!-- <button class="navbar-brand mx-1" href="#" routerLink="/admin/hoteldetail" routerLinkActive="active"> -->
                <button class="navbar-brand mx-1" (click)="getHotelDetail(h.hotelId)" href="#">
                    <img src="../../../../assets/view.jpg" alt="Logo" width="30" height="24"
                        class="d-inline-block align-text-top">
                </button>
                <button class="navbar-brand mx-1" href="#" (click)="deleteHotel(h.hotelId)">
                    <img src="../../../../assets/delete.png" alt="Logo" width="30" height="24"
                        class="d-inline-block align-text-top">
                </button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>