.heading{
    padding: 40px 0;
    text-align: center;
    background: linear-gradient(to bottom right, blue ,pink);
    font-size: large;
}

/* to make footer at bottom */
app-footer{
    position:static;
    bottom: 0;
    width: 100%;
}
